<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<header id="header" th:fragment="layout-header">
		
		<ul class="menu">
			
			<li class="list" >
				<a th:href="@{/top}">TOP</a>
			</li>
			<li class="list">
				<a th:href="@{/charactor}">キャラクター</a>
			</li>
			<li class="list">
				<a>物語概要</a>
			</li>
			<li class="list">
				<a th:href="@{/story}">ストーリー</a>
			</li>
			<li class="list">
				<a th:href="@{/gallery}">ギャラリー</a>
			</li>
			<li class="list">
				<a th:href="@{/save}">セーブ/ロード</a>
			</li>
			<li class="list">メニュー</li>
			<li class="list">お問い合わせ</li>
			
		</ul>
		
	</header>
</body>
	
</html>