<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{common/layout :: layout(~{::title}, ~{::body/content()})}">

<head>
	<meta charset="UTF-8">
	<title>メイン　1話</title>
</head>

<body>
	<aside th:replace="~{sidebar/sidebar_story :: sidebar-story}"></aside>

	<main>
		<div class="frame" style="background-color: #BEDAF5;">
			<div class="work" id="clickArea_main1" style="width: 850px; height: stretch;">
				
				<div class="story" id="clickArea_main1">
					
					<div class="storyBackground">
						<img id="background" alt="background" height="400px"></img>
					</div>
					
					<div class="storyObject">
						<img id="imagesLeft"  alt="left" height="300px"></img>
						<img id="imagesRight" alt="right"  height="300px"></img>
						
					</div>
					
					<div  class="text" style="margin: 0px 0px 0px 40px; opacity: 0.8;">
						<p id="textMain1"></p>
						
					</div>
					
				</div>
				
			</div>
		</div>

	</main>

<!--	JSファイル読み込み-->
<!--	メイン-->
	<script th:src="@{/js/story/character/main/story_main1.js}"></script>
<!--	サイドバー-->
	<script th:src="@{/js/story/common/story_main.js}"></script>
	<script th:src="@{/js/story/common/story_takumi.js}"></script>
	
<!--	ストーリー数値の取得-->
	<script th:inline="javascript">
	  const storyMain = /*[[${mainStory}]]*/ 0;
	</script>
	
</body>

</html>