<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout :: layout(~{::title}, ~{::body/content()})}">
	
<head>
	<meta charset="UTF-8">
	<title>ロード</title>
</head>

<body>
	<aside th:replace="~{sidebar/sidebar_saveLoad :: sidebar-saveLoad}"></aside>

	<main>
		<div class="frame" style="background-color: #BEDAF5;">
			<div class="work">
				
				<div class="sentence" style="width: 400px;">
					
					<!--内容送信後に出てくるメッセージ-->
					<div th:if="${message}">
						<p th:text="${message}"></p>
					</div>
				</div>
				
				<h3>◇ロード◇</h3>
				<div class="saveLoad">
					
					<div class="saveLoadFrame">
						<p>スロット：１</p>

						<div th:if="${saveOne == null}"></div>
						
						<div th:if="${saveOne != null && saveOne.slotNumber == 1}">
							<div th:object="${saveOne}">
								<p>
									<div th:if="*{updateDate}==null">
										セーブ日時：<span th:text="*{#dates.format(createDate,'yyyy/MM/dd HH:mm')}"></span>
									</div>
									<div th:if="*{updateDate}!=null">
										セーブ日時：<span th:text="*{#dates.format(updateDate,'yyyy/MM/dd HH:mm')}"></span>
									</div>
									
								</p>
								<p>メインストーリー：<span th:text="*{mainStoryChapter}"></span>話</p>
							</div>
						</div>
							
<!--						本当はポップアップにしたいけどいったん文字にします！-->
						<form  method="post" th:action="@{/load/ok}">
							<p>ロードしますか？</p>
							<input type="hidden" name="slotNumber" value="1"/>
							<input type="submit" value="はい"/>
							
						</form>
						
					</div>
					
					<div class="saveLoadFrame">
						<p>スロット：２</p>

						<div th:if="${saveTwo == null}"></div>
						
						<div th:if="${saveTwo != null && saveTwo.slotNumber ==2}">
							<div th:object="${saveTwo}">
								<p>
									<div th:if="*{updateDate}==null">
										セーブ日時：<span th:text="*{#dates.format(createDate,'yyyy/MM/dd HH:mm')}"></span>
									</div>
									<div th:if="*{updateDate}!=null">
										セーブ日時：<span th:text="*{#dates.format(updateDate,'yyyy/MM/dd HH:mm')}"></span>
									</div>
									
								</p>
								<p>メインストーリー：<span th:text="*{mainStoryChapter}"></span>話</p>
							</div>
							<form  method="post" th:action="@{/load/ok}">
	<!--						本当はポップアップにしたいけどいったん文字にします！-->
								<p>ロードしますか？</p>
								<input type="hidden" name="slotNumber" value="2"/>
								<input type="submit" value="はい"/>
								
							</form>
						</div>
							
						
					</div>
					
				</div>
				
			</div>
		</div>
		
	</main>

</body>

</html>