<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{common/layout :: layout(~{::title}, ~{::body/content()})}">

<head>
	<meta charset="UTF-8">
	<title>園山巧美　1話</title>
</head>

<body>
	<aside th:replace="~{sidebar/sidebar_story :: sidebar-story}"></aside>

	<main>
		<div class="frame" style="background-color: mediumpurple;">
			<div class="work" id="clickArea" style="width: 850px; height: 1000px;">
				

			<p id="text">園山巧美　1話</p>
	
				
			</div>
		</div>

	</main>

	<script src="/story/charactor/sonoyamatakumi/js/story_takumi1.js"></script>
	
</body>

</html>