<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout :: layout(~{::title}, ~{::body/content()})}">
	
<head>
	<meta charset="UTF-8">
	<title>ユーザー情報</title>
</head>

<body>
	<aside th:replace="~{sidebar/sidebar_user :: sidebar-user}"></aside>

	<main>
		<div class="frame" style="background-color: #BEDAF5;">
			<div class="work">
				
				<div class="sentence" style="width: 400px;">
					
					<h3>◇ユーザー情報◇</h3>
					
					<div class="user-information">
						<p>【ユーザー名】</p>
						<div th:text="${user.userName}"></div>
						<p>【ヒロイン名】</p>
						<div th:text="${user.heroineName}"></div>
						<p>【ヒロインのあだ名】</p>
						<div th:text="${user.heroineNickname}"></div>

					</div>
					
				</div>
			
				
			</div>
		</div>
		
	</main>

</body>

</html>