<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout :: layout(~{::title}, ~{::body/content()})}">

<head>
	<meta charset="UTF-8">
	<title>新規登録確認画面</title>
</head>

<body>
	<aside th:replace="~{sidebar/sidebar_user :: sidebar-user}"></aside>
	
	<main>
		<div class="frame" style="background-color: #BEDAF5;">
			<div class="work">
				
				<div class="sentence" style="width: 400px;">
					
					<h3>◇新規登録◇</h3>
					
					<p>こちらの内容でよろしいですか？</p>
					
					<form method="get" th:action="@{/relogin}">
						<p>【ユーザー名】</p>
						<div th:text="${user.userName}"></div>
						<p>【パスワード】</p>
						<div th:text="${user.userPassword}"></div>
						<input type="hidden" th:name="userName" th:value="${user.userName}" />
						<input type="hidden" th:name="userPassword" th:value="${user.userPassword}" />
						<p>
							<input type="submit" value="新規登録"/>
						</p>
						
						
					</form>
					
				</div>
				
			</div>
		</div>
			
	</main>

</body>
</html>