<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout :: layout(~{::title}, ~{::body/content()})}">
	
<head>
	<meta charset="UTF-8">
	<title>ユーザー情報編集</title>
</head>

<body>
	<aside th:replace="~{sidebar/sidebar_user :: sidebar-user}"></aside>

	<main>
		<div class="frame" style="background-color: #BEDAF5;">
			<div class="work">
				
				<div class="sentence" style="width: 400px;">
					
					<!--内容送信後に出てくるメッセージ-->
					<div th:if="${message}">
						<p th:text="${message}"></p>
					</div>
					
					<h3>◇ユーザー情報編集◇</h3>
					
					<form method="get" th:action="@{/user/edit}">
						<p>【ユーザー名】</p>
						<input type="text"/>
						<p>【パスワード】</p>
						<input type="text"/>
						<p>【ヒロイン名】</p>
						<input type="text"/>
						<p>【ヒロインのあだ名】</p>
						<input type="text"/>
						<p>
							<input type="submit" value="編集"/>
						</p>
					</form>
					
				</div>
			
				
			</div>
		</div>
		
	</main>

</body>

</html>