<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{common/layout :: layout(~{::title}, ~{::body/content()})}">
	
<head>
	<meta charset="UTF-8">
	<title>ストーリー</title>

</head>

<body>
	<aside th:replace="~{sidebar/sidebar_story :: sidebar-story}"></aside>

	<main>
		<div class="frame" style="background-color: #BEDAF5;">
			<div class="work" id="clickArea">
				<p>操作説明</p>

			    <div class="image">ここに画像をおきたい</div>
				<p id="text" class="text">画面をクリックしてください。</p>
	
			</div>
		</div>

	</main>
	
<!--	メイン読み込み-->
    <script th:src="@{/js/story/common/story.js}"></script>
<!--	サイドバー読み込み-->
	<script th:src="@{/js/story/common/story_main.js}"></script>
	<script th:src="@{/js/story/common/story_takumi.js}"></script>
<!--	ストーリー数値の取得-->
	<script th:inline="javascript">
	  const storyMain = /*[[${mainStory}]]*/ 0;
	</script>


</body>
</html>