<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{common/layout :: layout(~{::title}, ~{::body/content()})}">

<head>
	<meta charset="UTF-8">
	<title>キャラクター：相良実瑠</title>
</head>

<body>
	<aside th:replace="~{sidebar/sidebar_character :: sidebar-character}"></aside>

	<main>
		<div class="frame" style="background-color: deeppink;">
			<div class="work">
				
				<div class="sentence" style="width: 400px;">
					<h3>◇相良　実瑠（あいら　みる）◇</h3>
					
					<img th:src="@{/assets/images/character/character_miru.png}" style="width: 250px; height: auto;" alt ="相良実瑠画像">
					
					<p>特進科3年生。楽器：ユーフォニアム</p>
					<p>
						特進科から唯一参加する女の子。明るくギャルっぽい見た目に反して、優しく包容的な音色で演奏する。
						Vチューバ―「みるる」の中の人。
					</p>

					
				</div>
			
				
			</div>
		</div>
		
	</main>

</body>

</html>