<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{common/layout :: layout(~{::title}, ~{::body/content()})}">
	
<head>
	<meta charset="UTF-8">
	<title>キャラクター：小早川颯真</title>
</head>

<body>
	<aside th:replace="~{sidebar/sidebar_character :: sidebar-character}"></aside>

	<main>
		<div class="frame" style="background-color: blue;">
			<div class="work">
				
				<div class="sentence" style="width: 400px;">
					<h3>◇小早川　颯真（こばやかわ　そうま）◇</h3>
					
					<img th:src="@{/assets/images/character/character_soma.png}" style="width: 250px; height: auto;" alt ="小早川颯真画像">

					<p>音楽科1年生。楽器：ヴァイオリン</p>
					<p>
						小生意気な性格で自信家。中学時代にヴァイオリンと出会い、親の反対を押し切って始め
						メキメキと実力を伸ばしてきた天才。
						爽やかだが力強い音を奏でる。巧美のことが気に入らない。
					</p>
					
				</div>
			
				
			</div>
		</div>
		
	</main>

</body>

</html>