<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{common/layout :: layout(~{::title}, ~{::body/content()})}">
	
<head>
<meta charset="UTF-8">
<title>キャラクター</title>
</head>

<body>
	<aside th:replace="~{sidebar/sidebar_character :: sidebar-character}"></aside>

	<main>
		<div class="frame" style="background-color: #BEDAF5;">
			<div class="work">
				
				<div class="sentence" style="width: 400px;">
					<h3>◇鳴海千晴（なるみちはる）※変更可能◇</h3>
					
					<img th:src="@{/assets/images/character/character_heroine.png}" style="width: 250px; height: auto;" alt ="ヒロイン画像">

					<p>普通科2年生。楽器：ヴァイオリン</p>
					<p>
						小さいころから楽器に触れているが、当時音楽教室の先生が厳しくもっと楽に付き合いたいことから
						普通科に進学。将来の夢は保育士。
						ふわふわした性格だが、言うときははっきりと言う天然気質な女の子。
						柔らかくあたたかい音色で演奏する。
					</p>
				</div>
			
				
			</div>
		</div>
		
	</main>

</body>

</html>