<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{common/layout :: layout(~{::title}, ~{::body/content()})}">

<head>
	<meta charset="UTF-8">
	<title>キャラクター：園山巧斗</title>
</head>

<body>
	<aside th:replace="~{sidebar/sidebar_character :: sidebar-character}"></aside>

	<main>
		<div class="frame" style="background-color: purple;">
			<div class="work">
				
				<div class="sentence" style="width: 400px;">
					<h3>◇園山　巧斗（そのやま　たくと）◇</h3>
					
					<img th:src="@{/assets/images/character/SonoyamaTakuto/character_takuto.png}" style="width: 250px; height: auto;" alt ="園山巧斗画像">

					<p>音楽科2年生。楽器：クラリネット</p>
					<p>
						巧美の双子の弟。ソロで演奏することを好み、ねっとりしているが重みがあって魅力的な音色を奏でる。
						兄のことが大嫌いで、その兄と親友であるヒロインのことを避けていた。
						ヒロインにあだ名で呼ばれることが気に入らない。
						巧美のことは「にい」と呼んでいる。
					</p>
					
				</div>
			
				
			</div>
		</div>
		
	</main>

</body>

</html>