<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{common/layout :: layout(~{::title}, ~{::body/content()})}">	
<head>
	<meta charset="UTF-8">
	<title>キャラクター：園山巧美</title>
</head>

<body>
	<aside th:replace="~{sidebar/sidebar_character :: sidebar-character}"></aside>

	<main>
		<div class="frame" style="background-color: mediumpurple;">
			<div class="work">
				
				<div class="sentence" style="width: 400px;">
					<h3>◇園山　巧美（そのやま　たくみ）◇</h3>
					
					<img th:src="@{/assets/images/character/character_takumi.png}" style="width: 250px; height: auto;" alt ="園山巧美画像">

					<p>普通科2年生。楽器：チェロ</p>
					<p>
						ヒロインと同じ音楽教室に通っていた幼馴染。ヒロインのことをあだ名で呼んで慕っている。
						明るい性格で、少々天然なヒロインの世話を焼いている。
						双子の弟「巧斗」のことを大事に思っているが全然伝わっていない。
						音色も明るく颯爽としている。ヒロインから「みいくん」と呼ばれることを嫌がっている。
					</p>
					
				</div>
			
				
			</div>
		</div>
		
	</main>


</body>

</html>