<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{common/layout :: layout(~{::title}, ~{::body/content()})}">

<head>
	<meta charset="UTF-8">
	<title>キャラクター：須王御幸</title>
</head>

<body>
	<aside th:replace="~{sidebar/sidebar_character :: sidebar-character}"></aside>

	<main>
		<div class="frame" style="background-color: orange;">
			<div class="work">
				
				<div class="sentence" style="width: 400px;">
					<h3>◇須王　御幸（すおう　みゆき）◇</h3>
					
					<img th:src="@{/assets/images/character/SuoMiyuki/character_miyuki.png}" style="width: 250px; height: auto;" alt ="須王御幸画像">

					<p>音楽科3年生。楽器：ヴィオラ</p>
					<p>
						すこしふんわりしているように見えるが、しっかりした側面を持つ先輩。
						皆を支える大黒柱のように重厚な音色をしている。
						5人兄弟の長男。
						将来は有名になってお金持ちになりたいが、ある悩みを抱えている。
					</p>
					
				</div>
			
				
			</div>
		</div>
		
	</main>

</body>

</html>