@charset "UTF-8";


/*all*/
a {
	color: dark;
	text-decoration: none;
}

a:visited {
	color: blue;
}

a:hover {
	color: darkorange;
}


/*header*/

header {
	margin: -10px -20px 0px;
	background-color: #FFF9F1;
	height: 90px;
	overflow: hidden;
	position: relative;
}

ul {
	list-style: none;
	position: absolute;
	bottom: 0;
}

/*headerのmenu*/
.menu {
	display: flex;
}

/*sidebarのmenu*/
.sidebar-menu {
	position: unset;
	padding: 0px;
}

.list {
	padding-left: 25px;
}

article#container {
	border: 0.5px #FEE1A4 solid;
}


/*sidebar*/


aside {
	margin: 50px 50px 100px;
	padding: 20px;
	background-color: #FEE1A4;
	float: left;
	height: 500px;
	width: 150px;
	text-align: center;
}


/*
* main
* キャラクターのカラー設定は直接CSS記述
*/


/*外枠*/
main {
	margin: 20px 0px 80px;
	float: left;
	width: 900px;
	height: 1000px;	
}

/*カラー枠*/
.frame {
	margin: auto;
	padding: 10px 0px 50px;
	width: 900px;
	height: 1000px;
}

/*内枠*/
.work {
	margin: auto;
	width: 850px;
	height: 1000px;
	background-color: #FFF9F1;
	text-align: center;
}

/*文章枠*/
.sentence {
	margin: auto;
	width: 700px;
	height: 800px;
}

h3 {
	padding: 30px 0px 20px;
}

p {
	word-break: break-all;
}

.image {
	padding: 20px 0px;
}

.text {
	margin: auto;
	padding: 10px;
	width: 750px;
	height: 100px;
	border-radius: 5px;
	background-color: aqua;
	text-align: left;
}


/*footer*/

footer {
	margin: 0px -10px -10px;
	padding-bottom: 30px;
	background-color: #FFFECB;
	clear: left;
	height: 90px;
}