@charset "UTF-8";


/*header*/

header {
	margin: -10px -10px 0px;
	background-color: #FFF9F1;
	height: 90px;
	overflow: hidden;
	position: relative;
}

ul {
	list-style: none;
	position: absolute;
	bottom: 0;
}

.menu {
	display: flex;
}

.list {
	padding-left: 25px;
}

article#container {
	border: 0.5px #FEE1A4 solid;
}


/*sidebar*/


aside {
	margin: 20px 50px 100px;
	padding: 20px;
	background-color: #FEE1A4;
	float: left;
	height: 500px;
	width: 150px;	
}


/*
* main
* キャラクターのカラー設定は直接CSS記述
*/


main {
	margin: 20px 0px 80px;
	float: left;
	width: 900px;
	height: 1000px;	
}

.frame {
	margin: auto;
	padding: 10px 0px 50px;
	width: 900px;
	height: 1000px;
}

.work {
	margin: auto;
	width: 850px;
	height: 1000px;
	background-color: #FFF9F1;
	text-align: center;
}


/*footer*/

footer {
	margin: 0px -10px -10px;
	padding-bottom: 30px;
	background-color: #FFFECB;
	clear: left;
	height: 100px;
}