<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{common/layout :: layout(~{::title}, ~{::body/content()})}">

<head>
	<meta charset="UTF-8">
	<title>メイン　2話</title>
</head>

<body>
	<aside th:replace="~{sidebar/sidebar_story :: sidebar-story}"></aside>

	<main>
		<div class="frame" style="background-color: #BEDAF5;">
			<div class="work" id="clickArea_main2" style="width: 850px; height: 1000px;">
				
				<p>メイン　2話</p>
	
			    <div class="image">ここに画像をおきたい</div>
				<p id="textMain2" class="text"></p>
					
				
			</div>
		</div>

	</main>

<!--	JSファイル読み込み-->
<!--	メイン-->
	<script th:src="@{/js/story/charactor/main/story_main2.js}"></script>
<!--	サイドバー-->
	<script th:src="@{/js/story/common/story_main.js}"></script>
	<script th:src="@{/js/story/common/story_takumi.js}"></script>
<!--	ストーリー数値の取得-->
	<script th:inline="javascript">
		const userId = /*[[${userId}]]*/ 0;
		const storyMain = /*[[${mainStory}]]*/ 0;
	</script>
	
</body>

</html>