<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout :: layout(~{::title}, ~{::body/content()})}">
	
<head>
	<meta charset="UTF-8">
	<title>トップページ</title>
</head>

<body>
	<aside th:replace="~{sidebar/sidebar_top :: sidebar-top}"></aside>

	<main>
		<div class="frame" style="background-color: #BEDAF5;">
			<div class="work">
				
				<div class="sentence" style="width: 400px;">
					<h3>◇お知らせ◇</h3>
					<p>文字はここに打ち込んでいくよ。お知らせの文字幅はこちらですよ～</p>
					<p>
						文字はここに打ち込んでいくよ<br>
						mojihakokoniutikonndeikuyo.
					</p>
					
				</div>
			
				
			</div>
		</div>
		
	</main>

</body>

</html>