<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout :: layout(~{::title}, ~{::body/content()})}">
	
<head>
	<meta charset="UTF-8">
	<title>お問い合わせ</title>
</head>

<body>
	<aside th:replace="~{sidebar/sidebar_inquiry :: sidebar-inquiry}"></aside>

	<main>
		<div class="frame" style="background-color: #BEDAF5;">
			<div class="work">
				
				<div class="sentence" style="width: 400px;">
					
					<!--内容送信後に出てくるメッセージ-->
					<div th:if="${message}">
						<p th:text="${message}"></p>
					</div>
					
					<h3>◇お問い合わせ◇</h3>
					
					<form method="post" th:action="@{/inquiry/confirm}">
						<p>名前</p>
						<input type="text" name="InquiryUserName" placeholder="名前"/>
						<p>内容</p>
						<textarea cols="50" rows="20" name="InquiryText" placeholder="ここに内容を記載してください。"></textarea>
						<p>
							<input type="submit" value="内容確認"/>	
						</p>
					</form>
					
				</div>
			
				
			</div>
		</div>
		
	</main>

</body>

</html>