<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout :: layout(~{::title}, ~{::body/content()})}">
	
<head>
	<meta charset="UTF-8">
	<title>概要</title>
</head>

<body>
	<aside th:replace="~{sidebar/sidebar_summary :: sidebar-summary}"></aside>

	<main>
		<div class="frame" style="background-color: #BEDAF5;">
			<div class="work">
				
				<div class="sentence" style="width: 450px;">
					<h3>◇あらすじ◇</h3>
					<p>	舞台は奏花(そうか)高等学校。普通科と音楽科と特進科という3つの学科がある高校。
						奏花高校の音楽科は、毎年チャリティーコンサートに参加するのが通例となっている。
						今年度から普通科、特進科からの参加も可能となり、千晴は参加希望を出した。
						参加者の集まりに参加し、金管、木管、弦楽の3チームに別れての演奏をすることになっていた。
						弦楽チームは、千晴、巧美、颯真、御幸でカルテットを組むことに・・・・・。
					</p>
					<p>
						3学期末にあるコンサートに向け皆は本気で取り組む中、千晴たちもコンサートを成功させるべく、動き出す。
					</p>
				</div>
				
			</div>
		</div>
		
	</main>

</body>

</html>